*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Cairo,sans-serif;
}

body{
    background:url("assets/background.jpg") center center/cover no-repeat fixed;
    color:#fff;
    overflow:hidden;
}

.overlay{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.65);
    top:0;
    left:0;
    z-index:-1;
}

#loading-screen{
    position:fixed;
    width:100%;
    height:100%;
    background:#000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:999;
}

#typing{
    color:#00ffe5;
    font-size:45px;
    text-shadow:0 0 20px cyan;
}

.hidden{
    display:none;
}

header{
    margin-top:60px;
    text-align:center;
}

.logo{
    width:170px;
    border-radius:50%;
    border:4px solid cyan;
    box-shadow:0 0 30px cyan;
}

.badge{
    background:#ff9800;
    color:#fff;
    padding:4px 10px;
    border-radius:12px;
    font-size:12px;
    margin-right:8px;
}

.welcome{
    color:#ddd;
    margin-top:15px;
    font-size:20px;
}

.menu{
    margin-top:60px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

button{
    padding:18px 35px;
    font-size:20px;
    border:none;
    border-radius:15px;
    cursor:pointer;
    background:#00ffe5;
    color:#000;
    font-weight:bold;
    transition:.3s;
    box-shadow:0 0 20px cyan;
}

button:hover{
    transform:scale(1.08);
    box-shadow:0 0 40px cyan;
}

@media(max-width:768px){

.logo{
    width:120px;
}

#typing{
    font-size:30px;
}

button{
    width:90%;
}

.menu{
    flex-direction:column;
    align-items:center;
}

}
